input[type='file'] {
    color: transparent;
    z-index: -1;
    height:40px;
}
#file-upload {
    border-style: solid;
    position: relative;
    /* height: 50px; */
    width: 40px;
}
#file-upload input  { 
     /* https://dev.to/danireptor/how-to-style-and-customize-html-file-input-in-react-54fo#:~:text=By%20using%20techniques%20such%20as,feature%20in%20your%20React%20application. */
    /* display: block; */
    position: absolute;
    top: 0;
    left:0;
    opacity: 0;
    z-index: -1;
}

#container123:hover + #image{
    opacity: 50%;
}
#container123:hover {
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid;
    border-radius: 50%;
    background-image: url("../public/upload.svg");
    opacity: 100%;
    
}